body {
  font-family: sans-serif;
}

input {
  color: white;
  font-size: 20px;
}

.js-result {
  margin: 30px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  background-color: black;
  color: white;
  padding: 10px;
}

.show {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  color: white;
  width: 100%;
  height: 60px;
  text-align: right;
  font-size: 40px;
}

.js-reset {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  margin: 3px;
  height: 60px;
  border-radius: 10px;
}

.js-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(48, 47, 47, 0.925);
  margin: 3px;
  height: 60px;
  border-radius: 10px;
}

.js-operation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  margin: 3px;
  height: 60px;
  border-radius: 10px;
}
